<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibraryDB.Properties.Settings.BirdsConnectionString"
            connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=Birds;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>