<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ_Assocations.Properties.Settings.BirdsConnectionString"
            connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=Birds;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQ_Assocations.Properties.Settings.Prog210northwindConnectionString"
            connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=Prog210northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>